<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="icon" th:href="@{/favicon.png}" />

    <link rel="stylesheet" th:href="@{/vendor/materialize/css/materialize.css}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"/>
    <link rel="stylesheet" th:href="@{/app.css}" />

    <title th:text="'Звезды | ' + ${heading}">Звезды | Редактирование</title>
</head>
<body>
    <div class="navbar-fixed">
        <nav>
            <div class="container">
                <a th:href="@{/}" class="brand-logo">Stars<span>.</span>GO</a>
                <a th:href="@{/}" class="brand-logo right rem1">Звезды</a>
            </div>
        </nav>
    </div>
    <div class="search-bar container">
        <div class="row">
            <div class="col s12">
                <form th:action="@{/search}" method="get">
                    <div class="input-field">
                        <input name="q" type="search" placeholder="Поиск звезды" required="required" autocomplete="off"/>
                        <i class="material-icons">search</i>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="starss container">
        <form th:action="@{${action}}" method="post" th:object="${discoverer}">
            <input type="hidden" th:field="*{id}"/>
            <div class="row">
                <div class="col s12">
                    <h2 th:text="${heading}">New Category</h2>
                </div>
            </div>
            <div class="divider"></div>
            <div class="row">
                <label for="name" class="col-sm-2 col-form-label">Открыватель</label>
                <div class="col s12 l8" th:classappend="${#fields.hasErrors('name')}? 'error' : ''">
                    <input type="text" th:field="*{name}" id="name" placeholder="Имя открывателя"/>
                    <div class="error-message" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                </div>
            </div>
            <div class="row">
                <label class="col-sm-2 col-form-label"></label>
                <div class="col s12 l8">
                    <button th:text="${submit}" type="submit" class="button">Add</button>
                    <a th:href="@{/}" class="button">Отменить</a>
                </div>
            </div>
        </form>
    </div>


<script th:src="@{/vendor/jquery/jquery-1.11.3.js}"></script>
<script th:src="@{/vendor/materialize/js/materialize.js}"></script>
<script th:src="@{/app.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

</body>
</html>