<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="icon" th:href="@{/favicon.png}" />

    <link rel="stylesheet" th:href="@{/vendor/materialize/css/materialize.css}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" th:href="@{/app.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"/>

    <script language="JavaScript" type="text/javascript">
        function checkDelete(){
        return confirm('Вы уверены что хотите удалить звезду?');
}
    </script>
    <title>Звезды</title>
</head>
<body>
    <div class="navbar-fixed">
        <nav>
            <div class="container">
                <a th:href="@{/}" class="brand-logo">Stars<span>.</span>GO</a>
            </div>
        </nav>
    </div>
    <div class="search-bar container">
        <div class="row">
            <div class="col s12">
                <form th:action="@{/search}" method="get">
                    <div class="input-field">
                        <input name="q" type="search" placeholder="Поиск звезды" required="required" autocomplete="off"/>
                        <i class="material-icons">search</i>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="starss container">
        <div class="alert" th:if="${flash}" th:classappend="(${#strings.contains(flash.status,'SUCCESS')})? 'alert-success' : 'alert-danger'" th:text="${flash.message}">Новый ученик добавлен</div>
        <div class="row">
            <div class="col s9">
                <h2 class="purplep">Звезды</h2>
            </div>
            <div class="col s3">
                <a class="right add purplep" href="/add"><h1 class="purplep">+</h1></a>
            </div>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Наименование</th>
                <th scope="col">Широта</th>
                <th scope="col">Долгота</th>
                <th scope="col">Цвет</th>
                <th scope="col">Открыватель</th>
                <th scope="col">Редактировать</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="star : ${stars}">
                <td> <a class="purplep" th:text="${star.name}" th:href="@{'/star/' + ${star.id}}"></a></td>
                <td> <a class="purplep" th:text="${star.xCoord}" th:href="@{'/star/' + ${star.id}}"></a></td>
                <td> <a class="purplep" th:text="${star.yCoord}" th:href="@{'/star/' + ${star.id}}"></a></td>
                <td> <a class="purplep" th:text="color" th:style="|background:${star.color}; color:${star.color}; padding: 0 3px; border: 0.5px black solid;|" th:href="@{'/star/' + ${star.id}}"></a></td>
                <td> <a class="purplep" th:text="${star.discoverer}" th:href="@{'/star/' + ${star.id}}"></a></td>
                <td>
                    <form th:action="@{|/star/${star.id}/delete|}" method="post">
                        <!--<button class="button" type="submit" onclick="if (!confirm('Are you sure?')) { return false }">Удалить</button>-->
                        <button class="button" type="submit" onclick="return checkDelete()">Удалить</button>
                        <a th:href="@{|/star/${star.id}/edit|}" class="button">Изменить</a>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

<script th:src="@{/vendor/jquery/jquery-1.11.3.js}"></script>
<script th:src="@{/vendor/materialize/js/materialize.js}"></script>
<script th:src="@{/app.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

</body>
</html>